<div class="container">

  <div class="Topbar">
    <div class="Grid">
      <div class="Grid-cell u-size1of6">
        <div class='Logo u-z10' slide-menu-control="left">
          <div class='u-paddingAl' logo></div>
        </div>
      </div>
      <div class="Grid-cell u-size5of6">
         <a class='u-paddingAl' ng-click="isCollapsed = !isCollapsed" style="line-height:80px">Go to space</a>
      </div>
    </div>
  </div>
  <div class='SpaceFinder' collapse="isCollapsed">

    <ui-select style="width: 400px;"
      ng-model="chosenSpace.space"
      ng-disabled="disabled"
      theme="select2"
      on-select="gotoLink($item)" >
      <ui-select-match placeholder="Select space...">{{$item.space}}</ui-select-match>
      <ui-select-choices
        resize
        ng-style="resizeWithRatio(60)"
        group-by="'org'"
        repeat="space in podioSpaces | propsFilter: {space: $select.search, org: $select.search}">

          <div ng-bind-html="space.space | highlight: $select.search"></div>

      </ui-select-choices>
    </ui-select>

  </div>


</div>
