<head>
  {{#collections.sheets }}
  <meta charset="utf-8">

  <title>{{#if heading }}{{ heading }}{{/if}} {{#if this.data.site.tagline }}{{ this.data.site.tagline }}{{/if }}</title>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css">
  <![endif]-->

  <link href="//fonts.googleapis.com/" rel="dns-prefetch">
  <link href="//fonts.googleapis.com/css?family=Droid+Serif:200,400,700,400italic" rel="stylesheet">

  <link href="/assets/css/main.css" rel="stylesheet" media="only all">

  <meta name="description" content="{{#if description }}{{ description }}{{/if}}">

  {{> _segmentio }}

  {{/collections.sheets}}
</head>
