<header class='u-z200 u-sizeFullHeight d-Banner {{{ this.bannerPalette }}}' role='banner'>


  <div class="d-Banner-intro">
    <div class='u-pullBottom'>
      <div class='_site-width'>
        <div class='_copy-width'>

          <h1 class='t-BannerHeading dt-BannerHeading--loop'><span class='u-lightText'>
            {{ this.bannerSubHeading }}</span><br>{{ this.bannerHeading }}
          </h1>

        </div>
      </div>
    </div>
  </div>

  <div class='d-Banner-nav d-Banner-nav--downArrow'>
    <a class='u-linkClean' href="#step-1" data-scroll >
      <i class="icon ion-chevron-down"></i>
    </a>
  </div>

</header>

