<header class='u-z200 u-sizeFullHeight Banner {{ mindset }} {{ section }}' role='banner'>
  <div class='u-pullBottom'>

    <div class='_site-width'>
      <div class='_copy-width'>

        <h1 class="">{{ heading }}</h1>
        <h2 class=''>{{ subheading }}</h2>

      </div>
    </div>

  </div>

</header>
