<header class='l-nav-header main-nav'>
  <a href="#home" class="logo" data-scroll>Start Dreamineering</a>
  <nav class="nav-collapse">
    <ul>
      <li class="active"><a href="#home" data-scroll>Home</a></li>
      <li><a href="#content" data-scroll>Content</a></li>
      <li><a href="#design" data-scroll>Design</a></li>
      <li><a href="#questions" data-scroll>Questions</a></li>
    </ul>
  </nav>
</header>
