
<h1>Styleguide</h1>

<h2>Typography</h2>



<h2>Components</h2>


<h3>Atoms</h3>

<p>Act on a single element</p>

<h4>Breadcrumb</h4>

<div class="Breadcrumbs">
  <p>
    normal text <a href="" class="Breadcrumbs_link">link text</a>
  </p>
</div>

<h4>Buttons</h4>

<a class="Button">Button</a>
<a class="Button Button--large">Large</a>
<a class="Button Button--primary">Primary</a>
<a class="Button Button--secondary">Secondary</a>
<a class="Button Button--secondaryVariation">Secondary Variation</a>
<a class="Button Button--full">Full</a>


<h4>Close</h4>

<button class="Close">Close</button>


<h4>Highlight</h4>



<h4>Icons</h4>


<h4>Images</h4>


<h4>Links</h4>


<h4>Lists</h4>


<h4>Media</h4>


<h4>Quote</h4>


<h4>Subsection</h4>


<h4>Table</h4>


<h4>Tooltip</h4>


<h3>Molecules</h3>
