
<h2>Patterns</h2>

<div class="Grid">
  <div class="Grid-cell u-size2of6">

    <ul>
      <li><a ui-sref="app.pattern.accordion">Accordion</a></li>
      <li><a ui-sref="app.pattern.alert">Alert</a></li>
      <li><a ui-sref="app.pattern.buttons">Buttons</a></li>
      <li><a ui-sref="app.pattern.carousel">Carousel</a></li>
      <li><a ui-sref="app.pattern.collapse">Collapse</a></li>
      <li><a ui-sref="app.pattern.datepicker">Datepicker</a></li>
      <li><a ui-sref="app.pattern.dropdown">Dropdown</a></li>
      <li><a ui-sref="app.pattern.input">Inputs</a></li>
      <li><a ui-sref="app.pattern.modal">Modal</a></li>
      <li><a ui-sref="app.pattern.pagination">Pagination</a></li>
      <li><a ui-sref="app.pattern.popover">Popover</a></li>
      <li><a ui-sref="app.pattern.progressbar">Progress Bar</a></li>
      <li><a ui-sref="app.pattern.rating">Rating</a></li>
      <li><a ui-sref="app.pattern.tabs">Tabs</a></li>
      <li><a ui-sref="app.pattern.timepicker">Timepicker</a></li>
      <li><a ui-sref="app.pattern.tooltip">Tooltip</a></li>
      <li><a ui-sref="app.pattern.typeahead">Typeahead</a></li>
      <li><a ui-sref="app.pattern.ui-select">UI Select</a></li>
    </ul>

  </div>
  <div class="Grid-cell u-size4of6">

    <div ui-view></div>

  </div>
</div>
