<li class="Comment">
	<div class="Comment-meta">
		{{ atom  'avatar' }}
		<h4 class="Comment-name"><a href="#">{{name.first}} {{name.last}}</a></h4>
	</div>
	<div class="Comment-text">
		<p>{{description}}</p>
	</div>
</li>
