<section class="__section __section--comments u-paletteComments">
	<div class="Comments">
		<h2 class="Comments-title">59 Comments</h2>
		{{ molecule 'comment-form' }}
		<ul class="Comments-list">
			{{#listItems.twelve}}
				{{ molecule 'single-comment' }}
			{{/listItems.twelve}}
		</ul>
	</div>
	{{ molecule 'pagination' }}
</section>
