
:root {

  /* Most important select your fonts also have a component of structure */
  --title-font-family:            "Source Sans Pro", Geneva, Verdana, sans-serif;
  --banner-font-family:           var(--title-font-family);
  --text-font-family:             "Droid Serif", Georgia, "Times New Roman", serif;


  --text-color:                   var(--midnightblue);
  --textDivider:                  var(--text-color, .12);
  --textHintText:                 var(--text-color, .26);
  --textSecondaryIcons:           var(--text-color, .54);
  --textColor:                    var(--text-color, .87);

  /* Contrast for dark background */
  --text-color--light:            var(--white);

  /* Messaging colors */
  --error:                       #f00;
  --success:                     #089e00;
  --warning:                     #fff664;
  --information:                 #000db5;

  /* emotion */
  --positive:                     var(--pomegranate);
  --body-bg-color:                rgba(255, 255, 255, 1);
  --border-color:                 #f4f2f0;


  --color-brand:                  var(--deepOrange700);


  /* THEME */
  --color-philosopher:            var(--blue500);
  --color-philosopher--QUESTION:  var(--blue600);
  --color-philosopher--PROBLEM:   var(--blue700);


  --color-dreamer:                var(--deepPurple500);
  --color-dreamer--VISION:        var(--deepPurple600);
  --color-dreamer--CULTURE:       var(--deepPurple700);


  --color-engineer:               var(--red500);
  --color-engineer--SUBSTANCE:    var(--red700);
  --color-engineer--STRUCTURE:    var(--red800);
  --color-engineer--CONNECTION:   var(--red900);


  --color-realist:                var(--green500);
  --color-realist--VALUE:         var(--nephritis);
  --color-realist--FACTS:         var(--greensea);


  --overlay-bg-color:             rgba(--deepOrange700, 0.7);

  --overlay-bg-box-shadow:        inset 0px 0px 115px 0px #000000;
  --border-radius--notification:  2px;

  /* Modules */
  --color-nav-header:              var(--white);


  /* ANIMATION ******************************************/

  --animationDuration:            0.25s;


  /* LINKS **********************************************/

  /* links colors */
  --color-link:                   var(--midnightblue);
  --color-linkPseudo:             inherit;
  --color-hover-linkPseudo:       var(--color-linkPseudo);

  --link-underlineThickness:      0.08em;
  --link-underlinePadding:        0.01em;

  --TopBar-color-logo:            var(--midnightblue);

  /* COMPONENTS *****************************************/

  /* ALERT*/
  --Alert-border:                            none;
  --Alert-color--info:                       var(--information);
  --Alert-color--success:                    var(--success);
  --Alert-color--warning:                    var(--warning);
  --Alert-color--error:                      var(--error);

  /* MODAL*/
  --Modal-content-background:                var(--grey100);
  --Modal-backdrop-background:               var(--grey800);
  --Modal-backdrop-opacity:                  0.9;
  --Modal-content-fallback-border-color:     var(--grey300);
  --Modal-content-border-color:              var(--grey300);
  --Modal-header-border-color:               var(--grey300);
  --Modal-footer-border-color:               var(--grey300);

  --Modal-border-radius:                     5px;


  /*UI-SELECT*/

   --uiselect-highlightBgColor:              var(--yellow700);

}

/* COLOR MODIFIER CLASSES */

.u-paletteBody {
  background: var(--body-bg-color);
  color: var(--text-color);
}
.u-colorBrand {
  color: var(--color-brand);
}
.paletteBrand, .home, .brand {
  background-color: var(--deepOrange700);
  color: var(--text-color--light);
}

/* Greys */
.paletteGrey200 {
  background-color: var(--grey200);
  color: var(--text-color);
}
.paletteGrey300 {
  background-color: var(--grey300);
  color: var(--text-color);
}
.paletteGrey400 {
  background-color: var(--grey400);
  color: var(--text-color);
}
.paletteGrey600 {
  background-color: var(--grey400);
  color: var(--text-color--light);
}

/* States of mind */
.u-colorTextPhilosopher {
  color: var(--color-philosopher);
}
.philosopher {
  background-color: var(--color-philosopher);
  color: var(--text-color--light);
}
.philosopherQuestions {
  background-color: var(--color-philosopher--QUESTION);
  color: var(--text-color--light);
}
.philosopherProblems {
  background-color: var(--color-philosopher--PROBLEM);
  color: var(--text-color--light);
}


.u-colorTextDreamer {
  color: var(--color-dreamer);
}
.dreamer {
  background-color: var(--color-dreamer);
  color: var(--text-color--light);
}
.dreamerVision {
  background-color: var(--color-dreamer--VISION);
  color: var(--text-color--light);
}
.dreamerCulture {
  background-color: var(--color-dreamer--CULTURE);
  color: var(--text-color--light);
}



.u-colorTextEngineer {
  color: var(--color-engineer);
}
.engineer {
  background-color: var(--color-engineer);
  color: var(--text-color--light);
  background-size: cover;
}
.engineerSubstance {
  background-color: var(--color-engineer--SUBSTANCE);
  color: var(--text-color--light);
}
.engineerStructure {
  background-color: var(--color-engineer--STRUCTURE);
  color: var(--text-color--light);
}
.engineerConnection {
  background-color: var(--color-engineer--CONNECTION);
  color: var(--text-color--light);
}


.u-colorTextRealist {
  color: var(--color-realist);
}
.realist {
  background-color: var(--color-realist);
  color: var(--text-color--light);
  background-size: cover;
}
.realistValue {
  background-color: var(--green400);
  color: var(--text-color--light);
}
.realistFacts {
  background-color: var(--green500);
  color: var(--text-color--light);
}


.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}



/* Useful Concise Resources
 *
 * https://www.codeschool.com/courses/fundamentals-of-design
 * http://www.google.com/design/spec/style/color.html#color-ui-color-palette
 * http://designcode.io/
 *
 */

/*
 * COLOR GUIDE WITH HSL
 * use http://css-tricks.com/examples/HSLaExplorer/
 *
 * Hue color wheel.
 * - 0o and 360o are reds
 * - 120o are greens,
 * - 240o are blues.
 *
 * Saturation
 * - 0% is completely denatured (grayscale).
 * - 100% is fully saturated (full color).
 *
 * Lightness
 * - 0% is completely dark (black).
 * - 100% is completely light (white).
 * - 50% is average lightness.
 *
 * alpha
 * - Opacity/Transparency value.
 * - 0 is fully transparent.
 * 1 is fully opaque.
*/



