
.ResponsiveBox {
    width: 100%;
    display: inline-block;
    position: relative;
}
/*// 16:9 ratio*/
.ResponsiveBox:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.ResponsiveBox_content {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgb(0, 140, 200);
}

.tick text {
  font-size: 10px;
}
.x.axis path,
.x.axis line {
  fill: none;
  stroke: black;
}

.svgLine path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.svgSolid path {
}

.svgArea path {
  stroke: white;
  stroke-width: 2;
  fill: steelblue;
}
.svgArea .plot {
  fill: none;
  stroke: #aec7e8;
  stroke-width: 2;
}

.svgArea circle,
.svgChord circle {
  stroke: white;
  fill: steelblue;
}

.svgChord path {
  stroke: white;
  stroke-width: 2;
  fill: steelblue;
}
.svgChord .plot {
  fill: none;
  stroke: #aec7e8;
  stroke-width: 2;
}

.svgD3-diagonal circle {
  fill: orange;
  stroke: #333;
}
.svgD3-diagonal path {
  fill: none;
  stroke: #ccc;
}


.svgD3-lineRadial path {
  fill: none;
  stroke: #333;
  stroke-width: 4;
}
.svgD3-lineRadial circle {
  fill: orange;
  stroke: #333;
}


.D3-barChart rect {
  stroke: red;
  stroke-width: 1;
  fill: black;
}

.Axes_text {
  font-size: 10px;
}
