
<h3>UI Select Special</h3>


<div class='d-Topbar'>
  <nav class='d-SiteNav'>
    <a ng-click="isCollapsed = !isCollapsed">Go to space</a>
  </nav>
</div>
<div class='SpaceFinder' collapse="isCollapsed">

</div>

<script type="text/ng-template" id="smNestedTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>


<input type="text" class="form-control" placeholder="Custom template"
       ng-model="nestedSelected"
       sm-typeahead="space.space group by space.org for space in podioList | filter:{name:$viewValue}"
       sm-typeahead-template-url="smTestedTemplate.html">

 <!-- color.name group by color.shade for color in colors       -->

<pre>Model: {{nestedSelected | json}}</pre>


<h3>Boostrap Orignal</h3>


<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<input type="text"
       class="form-control"
       placeholder="Custom template"
       ng-model="customSelected"
       typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}"
       typeahead-template-url="customTemplate.html" >


<pre>Model: {{customSelected | json}}</pre>

<!-- <sm-nested-typeahead class='typeahead'
  items='podioList'
  term='search.term'
  select='gotoLink(space)'
  search='searchResults()' >

    <div class="menu" ng-cloak>
      <div ng-repeat='org in podioList' >
        <h4>{{ org.name }}</h4>
        <div sm-nested-typeahead-item='space'
            ng-repeat='space in org.spaces | fuzzy:search.term'>
          <div ng-click='gotoLink()'>
            <span ng-bind-html="highlight(space.name, search.term)"></span>
          </div>
        </div>
      </div>
    </div>

</nested-typeahead>


 -->
<pre>
 {{ podioList | json }}
</pre>

