http://stackoverflow.com/questions/11523331/passing-variables-through-handlebars-partial

<p><a href="#" class="Button Button--alt">{{ a_button--Alt }}Alternate Button</a></p>
<p><a href="#" class="Button Button--disabled">{{ a_button--Disabled }}</a></p>
