{{> _html}}

<div class='__page-container'>

  {{> m_TopBar--overlay }}
  {{> m_SiteNav--overlay }}

  {{#xif " this.collection === 'startup' " }}
  {{#each collections.haikuBusiness }}

    {{#if @first}}
      {{> m_Header--loop }}
    {{/if}}

    <div class='__content-container'>
      <div class='__content content' role='main'>
        <div class='u-cf'>
          {{> o_Card--provoke }}
        </div>
      </div>
    </div>

  {{/each}}
  {{/xif }}

  {{> o_Footer }}

</div>

{{> _close}}
