{{> _html}}

<div class='__page-container'>

  {{> m_TopBar--overlay }}
  {{> m_SiteNav--overlay }}

  <header class='u-z200 u-sizeFullHeight Banner {{{ palette }}}' role='banner'>


    <div class="Banner-intro">
      <div class='u-pullBottom'>
        <div class='_site-width'>
          <div class='_copy-width'>


            {{#if metaShowLogo }}
            <div class="u-center Logo Logo--white">
              {{> a_Logo }}
            </div>
            {{/if }}
            <h1 class='t-BannerHeading'><span class='u-lightText'>
            {{ collections.externalProvoke.[0].bannerSubHeading }}</span><br>{{ collections.externalProvoke.[0].bannerHeading }}</h1>
            <h6 class='u-textCenter u-marginAn u-paddingAn'>{{ collections.externalProvoke.[0].bannerIntro }}</h6>
            <h4 class='u-textCenter u-marginAn u-paddingAn'>
              <a class='u-linkClean' href="#step-1" data-scroll >
                <i class="icon ion-chevron-down"></i>
              </a>
            </h4>


          </div>
        </div>
      </div>
    </div>

  </header>

  <div class='__content-container'>

    <div class='__content content' role='main'>

      <div class='u-cf'>
      {{#each collections.externalProvoke }}

        {{> o_Card--affirm }}

      {{/each}}

      </div>

    </div>

  </div>

  {{> o_Footer }}

</div>

{{> _close}}
