

/*// fill parent*/
viz-scatter-plot {
  display: block;
  z-index: 0;
  overflow: hidden;
  font-size: 10px;
}
viz-scatter-plot circle {
  fill: blue;
  opacity: 1;
  cursor: pointer;
  stroke-width: 2;
}
viz-scatter-plot circle:hover {
  stroke: white;
}
viz-scatter-plot text {
  fill: white;
  stroke: none;
}
viz-scatter-plot .x-axis path,
viz-scatter-plot .y-axis path {
  stroke: none;
  fill: none;
}
viz-scatter-plot .x-axis line,
viz-scatter-plot .y-axis line {
  stroke: rgba(255, 255, 255, 0.2);
}

viz-scatter-plot path {
  fill: none;
  stroke: white;
  stroke-width: 1;
}
