<ul class="dropdown-menu" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}"
    ng-show="isOpen()"
    ng-style="{top: position.top+'px', left: position.left+'px'}" >
    <li>
      <ul>
        <li role="option" id="{{match.id}}"
            ng-repeat="match in matches track by $index"
            ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)"
            ng-click="selectMatch($index)">
            <div typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
      </ul>
    </li>
</ul>
