

<h4>Line</h4>

<div class="ResponsiveBox">
  <viz-line
    class="ResponsiveBox_content Viz">
  </viz-line>
</div>


<h4>Realtime</h4>

<viz-line-realtime chart-data="salesData"></viz-line-realtime>


<h4>Line Chart Adaptive</h4>

<!-- <div>
  <input
    name="lines"
    placeholder='Number of Lines'
    ng-model='adaptiveLineChartConfig.lines'>
  </input>
  <input
    placeholder='Points per Line'
    name="points"
    ng-model='adaptiveLineChartConfig.points'>
  </input>
</div>

<div class="ResponsiveBox">
  <line-scaling-adaptive
    class="ResponsiveBox_content"
    chart-config="adaptiveLineChartConfig" >
  </line-scaling-adaptive>
</div> -->
