

<h4>Line Chart with Datepicker</h4>

<div class="ResponsiveBox">
  <viz-line-chart-with-datepicker
    class="ResponsiveBox_content"
    data="journals"
    dateRange='this date'
    label='this thing'
    >
  </viz-line-chart-with-datepicker>
</div>


<h4>Line Chart Adaptive</h4>

<!-- <div>
  <input
    name="lines"
    placeholder='Number of Lines'
    ng-model='adaptiveLineChartConfig.lines'>
  </input>
  <input
    placeholder='Points per Line'
    name="points"
    ng-model='adaptiveLineChartConfig.points'>
  </input>
</div>

<div class="ResponsiveBox">
  <line-scaling-adaptive
    class="ResponsiveBox_content"
    chart-config="adaptiveLineChartConfig" >
  </line-scaling-adaptive>
</div> -->
