node_modules
**/.vagrant/**
.idea
*.iml

client/src/domain/*
services/src/domain/*


.DS_Store
.idea
.bin
dist/
bin/
build/

*.sw*
*~

.DS
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
npm-debug.log


# SublimeText project files
*.sublime-workspace

.sass-cache

